* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Space Grotesk";
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

header {
  background-image: url(public/images/image-profile-mobile.webp);
  border: 1px solid #4EE1A0;
  padding-top: 20px;
  position: relative;
  left: 200px;
  background-repeat: no-repeat;
  font-family: "Space Grotesk";
  color: #FFFFFF;
}

header h1 {
  text-decoration: underline #4EE1A0;
}

.mail {
  color: white;
  text-decoration: underline #4EE1A0;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icons {
  display: flex;
  flex-direction: row;
}

.circle {
  padding-left: 470px;
}

.p {
  color: #D9D9D9;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.mail:hover {
  cursor: pointer;
  color: #4EE1A0;
}

.experience {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 32px;
  font-style: normal;
}

.projects {
  color: #FFFFFF;
}